interactions:
- request:
    body: '{"state_event": "close"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/milestones/513937
  response:
    body: {string: '{"id":513937,"iid":1,"project_id":3439658,"title":"Permanent IGitt
        test milestone. DO NOT DELETE.","description":null,"state":"closed","created_at":"2018-04-25T09:11:00.029Z","updated_at":"2018-04-26T08:44:18.544Z","due_date":null,"start_date":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"d6562b61259fb2823b2a1ab16eba4838"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1524732318']
      RateLimit-ResetTime: ['Fri, 26 Apr 2018 08:45:18 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"state_event": "activate"}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"d6562b61259fb2823b2a1ab16eba4838"]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/milestones/513937
  response:
    body: {string: '{"id":513937,"iid":1,"project_id":3439658,"title":"Permanent IGitt
        test milestone. DO NOT DELETE.","description":null,"state":"active","created_at":"2018-04-25T09:11:00.029Z","updated_at":"2018-04-26T08:45:19.470Z","due_date":null,"start_date":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"77ba37a3de87d81f806f9b6effab241e"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1524732379']
      RateLimit-ResetTime: ['Fri, 26 Apr 2018 08:46:19 GMT']
    status: {code: 200, message: OK}
version: 1
