interactions:
- request:
    body: '{"milestone_id": 513937}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/77
  response:
    body: {string: '{"id":9967635,"iid":77,"project_id":3439658,"title":"Nonsense
        MR to test Milestones on MR implementation. DO NOT DELETE.","description":"","state":"opened","created_at":"2018-05-18T10:23:02.196Z","updated_at":"2018-05-18T14:40:05.630Z","target_branch":"gitmate-test-user-patch-1","source_branch":"hello","upvotes":0,"downvotes":0,"author":{"id":463976,"name":"Sebastian
        Latacz","username":"seblat","state":"active","avatar_url":"https://assets.gitlab-static.net/uploads/-/system/user/avatar/463976/avatar.png","web_url":"https://gitlab.com/seblat"},"assignee":null,"source_project_id":3439658,"target_project_id":3439658,"labels":[],"work_in_progress":false,"milestone":{"id":513937,"iid":1,"project_id":3439658,"title":"Permanent
        IGitt test milestone. DO NOT DELETE.","description":"Description update to
        test updated getter","state":"active","created_at":"2018-04-25T09:11:00.029Z","updated_at":"2018-04-30T11:22:02.350Z","due_date":null,"start_date":null},"merge_when_pipeline_succeeds":false,"merge_status":"cannot_be_merged","sha":"a37bb904b39a4aabee24f52ff98a0a988a41a24a","merge_commit_sha":null,"user_notes_count":0,"discussion_locked":null,"should_remove_source_branch":null,"force_remove_source_branch":false,"web_url":"https://gitlab.com/gitmate-test-user/test/merge_requests/77","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"subscribed":true,"changes_count":"1","merged_by":null,"merged_at":null,"closed_by":null,"closed_at":null,"latest_build_started_at":null,"latest_build_finished_at":null,"first_deployed_to_production_at":null,"pipeline":null,"diff_refs":{"base_sha":"674498fd415cfadc35c5eb28b8951e800f357c6f","head_sha":"a37bb904b39a4aabee24f52ff98a0a988a41a24a","start_sha":"8c31d04e826dc38e6b3e74143f83f9890b89c71c"},"approvals_before_merge":null,"squash":false}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"344f4bfdb422ae9482454a4152a03166"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['2']
      RateLimit-Remaining: ['598']
      RateLimit-Reset: ['1526654466']
      RateLimit-ResetTime: ['Sat, 18 May 2018 14:41:06 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"milestone_id": ""}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"344f4bfdb422ae9482454a4152a03166"]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/77
  response:
    body: {string: '{"id":9967635,"iid":77,"project_id":3439658,"title":"Nonsense
        MR to test Milestones on MR implementation. DO NOT DELETE.","description":"","state":"opened","created_at":"2018-05-18T10:23:02.196Z","updated_at":"2018-05-18T14:40:10.712Z","target_branch":"gitmate-test-user-patch-1","source_branch":"hello","upvotes":0,"[...]
