interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"a59f40b6bed85fba4778435de7c1d485"]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/milestones/513937?per_page=100
  response:
    body: {string: ''}
    headers:
      Etag: [W/"a59f40b6bed85fba4778435de7c1d485"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['2']
      RateLimit-Remaining: ['598']
      RateLimit-Reset: ['1527169128']
      RateLimit-ResetTime: ['Fri, 24 May 2018 13:38:48 GMT']
    status: {code: 304, message: Not Modified}
- request:
    body: '{"start_date": "2040-04-23", "title": "Permanent IGitt test milestone.
      DO NOT DELETE."}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/milestones/513937
  response:
    body: {string: '{"id":513937,"iid":1,"project_id":3439658,"title":"Permanent IGitt
        test milestone. DO NOT DELETE.","description":"Description update to test
        updated getter","state":"active","created_at":"2018-04-25T09:11:00.029Z","updated_at":"2018-05-24T13:37:49.560Z","due_date":null,"start_date":"2040-04-23"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"8d1028cbe2abb268d415a38d29944863"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1527169129']
      RateLimit-ResetTime: ['Fri, 24 May 2018 13:38:49 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"start_date": null, "title": "Permanent IGitt test milestone. DO NOT DELETE."}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/milestones/513937
  response:
    body: {string: '{"id":513937,"iid":1,"project_id":3439658,"title":"Permanent IGitt
        test milestone. DO NOT DELETE.","description":"Description update to test
        updated getter","state":"active","created_at":"2018-04-25T09:11:00.029Z","updated_at":"2018-05-24T13:37:51.966Z","due_date":null,"start_date":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"4fccc837df98e71ea045fa1c483452c1"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['2']
      RateLimit-Remaining: ['598']
      RateLimit-Reset: ['1527169132']
      RateLimit-ResetTime: ['Fri, 24 May 2018 13:38:52 GMT']
    status: {code: 200, message: OK}
version: 1
