interactions:
- request:
    body: '{"duration": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/42/reset_time_estimate
  response:
    body: {string: '{"time_estimate":0,"total_time_spent":4400,"human_time_estimate":null,"human_total_time_spent":"1h
        13m 20s"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"faf34b78565f502b23fde9dec377f1e7"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['3']
      RateLimit-Remaining: ['597']
      RateLimit-Reset: ['1531391573']
      RateLimit-ResetTime: ['Fri, 12 Jul 2018 10:32:53 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"2de88c52087c16ada07e5d0ee728d3ea"]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/42?per_page=100
  response:
    body: {string: '{"id":10698538,"iid":42,"project_id":3439658,"title":"Issue to
        test Milestone on Issues Setter. DO NOT DELETE","description":"","state":"opened","created_at":"2018-05-07T14:15:27.639Z","updated_at":"2018-07-12T10:31:53.626Z","closed_at":null,"closed_by":null,"labels":[],"milestone":null,"assignees":[],"author":{"id":463976,"name":"Sebastian
        Latacz","username":"seblat","state":"active","avatar_url":"https://assets.gitlab-static.net/uploads/-/system/user/avatar/463976/avatar.png","web_url":"https://gitlab.com/seblat"},"assignee":null,"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"discussion_locked":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/42","time_stats":{"time_estimate":0,"total_time_spent":4400,"human_time_estimate":null,"human_total_time_spent":"1h
        13m 20s"},"_links":{"self":"https://gitlab.com/api/v4/projects/3439658/issues/42","notes":"https://gitlab.com/api/v4/projects/3439658/issues/42/notes","award_emoji":"https://gitlab.com/api/v4/projects/3439658/issues/42/award_emoji","project":"https://gitlab.com/api/v4/projects/3439658"},"subscribed":true,"weight":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"ada938da3d8e5525f8607690801656b8"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1531391575']
      RateLimit-ResetTime: ['Fri, 12 Jul 2018 10:32:55 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"duration": "60s"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/42/time_estimate
  response:
    body: {string: '{"time_estimate":60,"total_time_spent":4400,"human_time_estimate":"1m","human_total_time_spent":"1h
        13m 20s"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"0f2c4f69050a8bb217a698a020a1803d"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1531391577']
      RateLimit-ResetTime: ['Fri, 12 Jul 2018 10:32:57 GMT']
    status: {code: 200, message: OK}
[...]
