interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/groups/gitmate-test-org/issues?per_page=100
  response:
    body: {string: '[{"id":12610314,"iid":3,"project_id":5731027,"title":"Just for
        a test","description":"","state":"opened","created_at":"2018-07-07T14:27:18.608Z","updated_at":"2018-07-07T14:27:18.608Z","closed_at":null,"closed_by":null,"labels":[],"milestone":null,"assignees":[],"author":{"id":1137314,"name":"Vamshi
        Krishna","username":"Vamshi99","state":"active","avatar_url":"https://secure.gravatar.com/avatar/cfbd6bc03e4540f65e8d4e91a96f4907?s=80\u0026d=identicon","web_url":"https://gitlab.com/Vamshi99"},"assignee":null,"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"discussion_locked":null,"web_url":"https://gitlab.com/gitmate-test-org/test/issues/3","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"weight":null},{"id":12610311,"iid":2,"project_id":5731027,"title":"Test
        issue","description":"","state":"opened","created_at":"2018-07-07T14:27:03.420Z","updated_at":"2018-07-07T16:33:00.267Z","closed_at":null,"closed_by":null,"labels":["test-label"],"milestone":null,"assignees":[{"id":1137314,"name":"Vamshi
        Krishna","username":"Vamshi99","state":"active","avatar_url":"https://secure.gravatar.com/avatar/cfbd6bc03e4540f65e8d4e91a96f4907?s=80\u0026d=identicon","web_url":"https://gitlab.com[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"cd89133cb4e0b1740e32f407b079d617"]
    method: GET
    uri: https://gitlab.com/api/v4/groups/gitmate-test-org/issues?per_page=100&state=closed
  response:
    body: {string: '[{"id":12610308,"iid":1,"project_id":5731027,"title":"Test Issue","description":"","state":"closed","created_at":"2018-07-07T14:26:12.645Z","updated_at":"2018-07-07T14:27:29.233Z","closed_at":"2018-07-07T14:27:29.209Z","closed_by":{"id":1137314,"name":"Vamshi
        Krishna","username":"Vamshi99","state":"active","avatar_url":"https://secure.gravatar.com/avatar/cfbd6bc03e4540f65e8d4e91a96f4907?s=80\u0026d=identicon","web_url":"https://gitlab.com/Vamshi99"},"labels":[],"milestone":null,"assignees":[],"author":{"id":1137314,"name":"Vamshi
        Krishna","username":"Vamshi99","state":"active","avatar_url":"https://secure.gravatar.com/avatar/cfbd6bc03e4540f65e8d4e91a96f4907?s=80\u0026d=identicon","web_url":"https://gitlab.com/Vamshi99"},"assignee":null,"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"discussion_locked":null,"web_url":"https://gitlab.com/gitmate-test-org/test/issues/1","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"weight":null}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"e35c0349a97b0b6df8dc94923c84d7c7"]
      Link: ['<https://gitlab.com/api/v4/groups/gitmate-test-org/issues?id=gitmate-test-org&order_by=created_at&page=1&per_page=100&sort=desc&state=closed>;
          rel="first", <https://gitlab.com/api/v4/groups/gitmate-test-org/issues?id=gitmate-test-org&order_by=created_at&page=1&per_page=100&sort=desc&state=closed>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['2']
      RateLimit-Remaining: ['598']
      RateLimit-Reset: ['1531167803']
      RateLimit-ResetTime: ['Tue, 09 Jul 2018 20:23:23 GMT']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['1']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"e35c0349a97b0b6df8dc94923c84d7c7"]
    method: GET
    uri: https://gitlab.com/api/v4/groups/gitmate-test-org/issues?labels=test-label&per_page=100
  response:
    body: {string: '[{"id":12610311,"iid":2,"project_id":5731027,"title":"Test issue","description":"","state":"opened","created_at":"2018-07-07T14:27:03.420Z","updated_at":"2018-07-07T16:33:00.267Z","closed_at":null,"closed_by":null,"la[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/users?per_page=100&username=Vamshi99
  response:
    body: {string: '[{"id":1137314,"name":"Vamshi Krishna","username":"Vamshi99","state":"active","avatar_url":"https://secure.gravatar.com/avatar/cfbd6bc03e4540f65e8d4e91a96f4907?s=80\u0026d=identicon","web_url":"https://gitlab.com/Vamshi99"}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"424bc986f699dd3c92baecd3ae6da496"]
      Link: ['<https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=100&skip_ldap=false&username=Vamshi99&with_custom_attributes=false>;
          rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=100&skip_ldap=false&username=Vamshi99&with_custom_attributes=false>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['2']
      RateLimit-Remaining: ['598']
      RateLimit-Reset: ['1531167806']
      RateLimit-ResetTime: ['Tue, 09 Jul 2018 20:23:26 GMT']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['1']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"54798fc9fecdb1f9f040be1ff2be47f9"]
    method: GET
    uri: https://gitlab.com/api/v4/groups/gitmate-test-org/issues?assignee_id=1137314&per_page=100
  response:
    body: {string: ''}
    headers:
      Etag: [W/"54798fc9fecdb1f9f040be1ff2be47f9"]
      Link: ['<https://gitlab.com/api/v4/groups/gitmate-test-org/issues?assignee_id=1137314&id=gitmate-test-org&order_by=created_at&page=1&per_page=100&sort=desc&state=all>;
          rel="first", <https://gitlab.com/api/v4/groups/gitmate-test-org/issues?assignee_id=1137314&id=gitmate-test-org&order_by=created_at&page=1&per_page=100&sort=desc&state=all>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['3']
      RateLimit-Remaining: ['597']
      RateLimit-Reset: ['1531167808']
      RateLimit-ResetTime: ['Tue, 09 Jul 2018 20:23:28 GMT']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['1']
      X-Total-Pages: ['1']
    status: {code: 304, message: Not Modified}
version: 1
