interactions:
- request:
    body: '{"name": "test-repo", "visibility": "public", "default_branch": "master",
      "has_issues": true, "has_merge_requests": true, "has_jobs": true, "has_wiki":
      true, "has_snippets": true, "has_container_registry": true, "has_shared_runners":
      true, "has_lfs": false, "resolve_outdated_diff_discussions": false, "public_jobs":
      false, "only_allow_merge_if_pipeline_succeeds": false, "only_allow_merge_if_all_discussions_are_resolved":
      false, "allow_request_access": true, "allow_printing_merge_request_link": true}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"ee98c600238675d485637e80551916fe"]
    method: POST
    uri: https://gitlab.com/api/v4/projects
  response:
    body: {string: "{\"id\":5939856,\"description\":null,\"name\":\"test-repo\",\"name_with_namespace\":\"GitMate
        Labs \U0001F47D / test-repo\",\"path\":\"test-repo\",\"path_with_namespace\":\"gitmate-test-user/test-repo\",\"created_at\":\"2018-04-01T22:44:48.418Z\",\"default_branch\":null,\"tag_list\":[],\"ssh_url_to_repo\":\"git@gitlab.com:gitmate-test-user/test-repo.git\",\"http_url_to_repo\":\"https://gitlab.com/gitmate-test-user/test-repo.git\",\"web_url\":\"https://gitlab.com/gitmate-test-user/test-repo\",\"avatar_url\":null,\"star_count\":0,\"forks_count\":0,\"last_activity_at\":\"2018-04-01T22:44:48.418Z\",\"_links\":{\"self\":\"https://gitlab.com/api/v4/projects/5939856\",\"issues\":\"https://gitlab.com/api/v4/projects/5939856/issues\",\"merge_requests\":\"https://gitlab.com/api/v4/projects/5939856/merge_requests\",\"repo_branches\":\"https://gitlab.com/api/v4/projects/5939856/repository/branches\",\"labels\":\"https://gitlab.com/api/v4/projects/5939856/labels\",\"events\":\"https://gitlab.com/api/v4/projects/5939856/events\",\"members\":\"https://gitlab.com/api/v4/projects/5939856/members\"},\"archived\":false,\"visibility\":\"public\",\"owner\":{\"id\":1369631,\"name\":\"GitMate
        Labs \U0001F47D\",\"username\":\"gitmate-test-user\",\"state\":\"active\",\"avatar_url\":\"https://assets.gitlab-static.net/uploads/-/system/user/avatar/1369631/avatar.png\",\"web_url\":\"https://gitlab.com/gitmate-test-user\"},\"resolve_outdated_diff_discussions\":false,\"container_registry_enabled\":true,\"issues_enabled\":true,\"merge_requests_enabled\":true,\"wiki_enabled\":true,\"jobs_enabled\":true,\"snippets_enabled\":true,\"shared_runners_enabled\":true,\"lfs_enabled\":true,\"creator_id\":1369631,\"namespace\":{\"id\":1652018,\"name\":\"gitmate-test-user\",\"path\":\"gitmate-test-user\",\"kind\":\"user\",\"full_path\":\"gitmate-test-user\",\"parent_id\":null},\"import_status\":\"none\",\"import_error\":null,\"open_issues_count\":0,\"runners_token\":\"hPhHqyksf4VXf4syEqG6\",\"public_jobs\":true,\"ci_config_path\":null,\"shared_with_groups\":[],\"only_allow_merge_if_pipeline_succeeds\":false,\"request_access_enabled\":false,\"only_allow_merge_if_all_discussions_are_resolved\":false,\"printing_merge_request_link_enabled\":true,\"approvals_before_merge\":0}"}
    headers:
      Content-Type: [application/json]
      Etag: [W/"dd5224a442e05bcd269bae9f8ed79994"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['2']
      RateLimit-Remaining: ['598']
      RateLimit-Reset: ['1522622749']
      RateLimit-ResetTime: ['Mon, 01 Apr 2018 22:45:49 GMT']
    status: {code: 201, message: Created}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://gitlab.com/api/v4/projects/5939856
  response:
    body: {string: '{"message":"202 Accepted"}'}
    headers:
      Content-Type: [application/json]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1522622752']
      RateLimit-ResetTime: ['Mon, 01 Apr 2018 22:45:52 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/projects/5939856?per_page=100
  response:
    body: {string: '{"message":"404 Project Not Found"}'}
    headers:
      Content-Type: [application/json]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['2']
      RateLimit-Remaining: ['598']
      RateLimit-Reset: ['1522622754']
      RateLimit-ResetTime: ['Mon, 01 Apr 2018 22:45:54 GMT']
    status: {code: 404, message: Not Found}
version: 1
