interactions:
- request:
    body: '{"duration": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/42/reset_spent_time
  response:
    body: {string: '{"time_estimate":60,"total_time_spent":0,"human_time_estimate":"1m","human_total_time_spent":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"1763a3b23a0640259d2c39dad91a85ef"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['2']
      RateLimit-Remaining: ['598']
      RateLimit-Reset: ['1531736152']
      RateLimit-ResetTime: ['Tue, 16 Jul 2018 10:15:52 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"duration": "6600s"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/42/add_spent_time
  response:
    body: {string: '{"time_estimate":60,"total_time_spent":6600,"human_time_estimate":"1m","human_total_time_spent":"1h
        50m"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"e12c43785050e9b055c939dc0abe3c55"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1531736153']
      RateLimit-ResetTime: ['Tue, 16 Jul 2018 10:15:53 GMT']
    status: {code: 201, message: Created}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"c02ee0c37ba57afb9ba9b9020078eec5"]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/42?per_page=100
  response:
    body: {string: '{"id":10698538,"iid":42,"project_id":3439658,"title":"Issue to
        test Milestone on Issues Setter. DO NOT DELETE","description":"","state":"opened","created_at":"2018-05-07T14:15:27.639Z","updated_at":"2018-07-16T10:14:52.071Z","closed_at":null,"closed_by":null,"labels":[],"milestone":null,"assignees":[],"author":{"id":463976,"name":"Sebastian
        Latacz","username":"seblat","state":"active","avatar_url":"https://assets.gitlab-static.net/uploads/-/system/user/avatar/463976/avatar.png","web_url":"https://gitlab.com/seblat"},"assignee":null,"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"discussion_locked":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/42","time_stats":{"time_estimate":60,"total_time_spent":6600,"human_time_estimate":"1m","human_total_time_spent":"1h
        50m"},"_links":{"self":"https://gitlab.com/api/v4/projects/3439658/issues/42","notes":"https://gitlab.com/api/v4/projects/3439658/issues/42/notes","award_emoji":"https://gitlab.com/api/v4/projects/3439658/issues/42/award_emoji","project":"https://gitlab.com/api/v4/projects/3439658"},"subscribed":true,"weight":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"05b2816aba6ca456f81009d29fa8ff52"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['2']
      RateLimit-Remaining: ['598']
      RateLimit-Reset: ['1531736154']
      RateLimit-ResetTime: ['Tue, 16 Jul 2018 10:15:54 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"duration": "-1s"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/42/add_spent_time
  response:
    body: {string: '{"message":{"time_spent":["Time to subtract exceeds the total
        time spent"]}}'}
    headers:
      Content-Type: [application/json]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['2']
      RateLimit-Remaining: ['598']
      RateLimit-Reset: ['1531736156']
      RateLimit-ResetTime: ['Tue, 16 Jul 2018 10:15:56 GMT']
    status: {code: 400, message: Bad Request}
- request:
    body: '{"duration": "60s"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/42/time_estimate
  response:
    body: {string: '{"time_estimate":60,"total_time_spent":0,"human_time_estimate":"1m","human_total_time_spent":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"1763a3b23a0640259d2c39dad91a85ef"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['3']
      RateLimit-Remaining: ['597']
      RateLimit-Reset: ['1531736157']
      RateLimit-ResetTime: ['Tue, 16 Jul 2018 10:15:57 GMT']
    status: {code: 200, message: OK}
[...]
