interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"a2a7c908408196bbab28b9f09b267036"]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/0164595c7d75404c2e0ce8622cea825e59e9d558?per_page=100
  response:
    body: {string: '{"id":"0164595c7d75404c2e0ce8622cea825e59e9d558","short_id":"0164595c","title":"Test
        title","created_at":"2018-06-05T15:46:05.000+05:30","parent_ids":["20d99d2b6124ccef9e9593749357a10c79085dae"],"message":"Test
        title\n\nsample commit message.\n\nFix #21, Fixes #22 and Closes #23.\nThis
        commit is also related to #31 and fixes #26, #27\nand #30. Resolves #41\n","author_name":"Vamshi99","author_email":"bommvams72@gmail.com","authored_date":"2018-06-05T15:43:13.000+05:30","committer_name":"Vamshi99","committer_email":"bommvams72@gmail.com","committed_date":"2018-06-05T15:46:05.000+05:30","stats":{"additions":1,"deletions":0,"total":1},"status":null,"last_pipeline":null,"project_id":3439658}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"189db5c222ef532a6cb8764ec9ecb4cc"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['5']
      RateLimit-Remaining: ['595']
      RateLimit-Reset: ['1528384444']
      RateLimit-ResetTime: ['Fri, 07 Jun 2018 15:14:04 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"e585b557f9a0bd3715b9a344445efc41"]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/38715b42c86ec565a6e0e4b13255448e8f202f8d?per_page=100
  response:
    body: {string: ''}
    headers:
      Etag: [W/"e585b557f9a0bd3715b9a344445efc41"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['6']
      RateLimit-Remaining: ['594']
      RateLimit-Reset: ['1528384453']
      RateLimit-ResetTime: ['Fri, 07 Jun 2018 15:14:13 GMT']
    status: {code: 304, message: Not Modified}
version: 1
