interactions:
- request:
    body: '{"title": "Updated Title"}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"013d10c13414458595639826a529c8d7"]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/milestones/513937
  response:
    body: {string: '{"id":513937,"iid":1,"project_id":3439658,"title":"Updated Title","description":null,"state":"active","created_at":"2018-04-25T09:11:00.029Z","updated_at":"2018-04-26T08:52:49.777Z","due_date":null,"start_date":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"8b19268e8972fc3c89f8fb0ede971ee1"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1524732829']
      RateLimit-ResetTime: ['Fri, 26 Apr 2018 08:53:49 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"title": "Permanent IGitt test milestone. DO NOT DELETE."}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"8b19268e8972fc3c89f8fb0ede971ee1"]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/milestones/513937
  response:
    body: {string: '{"id":513937,"iid":1,"project_id":3439658,"title":"Permanent IGitt
        test milestone. DO NOT DELETE.","description":null,"state":"active","created_at":"2018-04-25T09:11:00.029Z","updated_at":"2018-04-26T08:53:11.099Z","due_date":null,"start_date":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"99f95e30a952c2e37f8934f30b4d4c1d"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1524732851']
      RateLimit-ResetTime: ['Fri, 26 Apr 2018 08:54:11 GMT']
    status: {code: 200, message: OK}
version: 1
