interactions:
- request:
    body: '{"title": "Temporary created minimal data test milestone.", "description":
      null, "due_date": null, "start_date": null}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/milestones
  response:
    body: {string: '{"id":514652,"iid":2,"project_id":3439658,"title":"Temporary created
        minimal data test milestone.","description":null,"state":"active","created_at":"2018-04-26T08:46:20.846Z","updated_at":"2018-04-26T08:46:20.846Z","due_date":null,"start_date":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"53f31bb2a6723382fbc2a3aec2555751"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1524732441']
      RateLimit-ResetTime: ['Fri, 26 Apr 2018 08:47:21 GMT']
    status: {code: 201, message: Created}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/milestones/514652
  response:
    body: {string: ''}
    headers:
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1524733069']
      RateLimit-ResetTime: ['Fri, 26 Apr 2018 08:57:49 GMT']
    status: {code: 204, message: No Content}
- request:
    body: '{"title": "Temporary created full data test milestone.", "description":
      "Test Description", "due_date": "2050-04-23", "start_date": "2040-04-23"}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"53f31bb2a6723382fbc2a3aec2555751"]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/milestones
  response:
    body: {string: '{"id":514659,"iid":2,"project_id":3439658,"title":"Temporary created
        full data test milestone.","description":"Test Description","state":"active","created_at":"2018-04-26T09:01:37.408Z","updated_at":"2018-04-26T09:01:37.408Z","due_date":"2050-04-23","start_date":"2040-04-23"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"292a42f7b3e7c5ba15262aca154e0d15"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['0']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1524733357']
      RateLimit-ResetTime: ['Fri, 26 Apr 2018 09:02:37 GMT']
    status: {code: 201, message: Created}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/milestones/514659
  response:
    body: {string: ''}
    headers:
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1524733610']
      RateLimit-ResetTime: ['Fri, 26 Apr 2018 09:06:50 GMT']
    status: {code: 204, message: No Content}
version: 1
