interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"54798fc9fecdb1f9f040be1ff2be47f9"]
    method: GET
    uri: https://gitlab.com/api/v4/groups/gitmate-test-org/issues?per_page=100&state=opened
  response:
    body: {string: '[{"id":12610314,"iid":3,"project_id":5731027,"title":"Just for
        a test","description":"","state":"opened","created_at":"2018-07-07T14:27:18.608Z","updated_at":"2018-07-07T14:27:18.608Z","closed_at":null,"closed_by":null,"labels":[],"milestone":null,"assignees":[],"author":{"id":1137314,"name":"Vamshi
        Krishna","username":"Vamshi99","state":"active","avatar_url":"https://secure.gravatar.com/avatar/cfbd6bc03e4540f65e8d4e91a96f4907?s=80\u0026d=identicon","web_url":"https://gitlab.com/Vamshi99"},"assignee":null,"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"discussion_locked":null,"web_url":"https://gitlab.com/gitmate-test-org/test/issues/3","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"weight":null},{"id":12610311,"iid":2,"project_id":5731027,"title":"Test
        issue","description":"","state":"opened","created_at":"2018-07-07T14:27:03.420Z","updated_at":"2018-07-07T16:33:00.267Z","closed_at":null,"closed_by":null,"labels":["test-label"],"milestone":null,"assignees":[{"id":1137314,"name":"Vamshi
        Krishna","username":"Vamshi99","state":"active","avatar_url":"https://secure.gravatar.com/avatar/cfbd6bc03e4540f65e8d4e91a96f4907?s=80\u0026d=identicon","web_url":"https://gitlab.com/Vamshi99"}],"author":{"id":1137314,"name":"Vamshi
        Krishna","username":"Vamshi99","state":"active","avatar_url":"https://secure.gravatar.com/avatar/cfbd6bc03e4540f65e8d4e91a96f4907?s=80\u0026d=identicon","web_url":"https://gitlab.com/Vamshi99"},"assignee":{"id":1137314,"name":"Vamshi
        Krishna","username":"Vamshi99","state":"active","avatar_url":"https://secure.gravatar.com/avatar/cfbd6bc03e4540f65e8d4e91a96f4907?s=80\u0026d=identicon","web_url":"https://gitlab.com/Vamshi99"},"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"discussion_locked":null,"web_url":"https://gitlab.com/gitmate-test-org/test/issues/2","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"weight":null}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"afd741ebbd06b8b6130777e07bc668ee"]
      Link: ['<https://gitlab.com/api/v4/groups/gitmate-test-org/issues?id=gitmate-test-org&order_by=created_at&page=1&per_page=100&sort=desc&state=opened>;
          rel="first", <https://gitlab.com/api/v4/groups/gitmate-test-org/issues?id=gitmate-test-org&order_by=created_at&page=1&per_page=100&sort=desc&state=opened>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['4']
      RateLimit-Remaining: ['596']
      RateLimit-Reset: ['1531167809']
      RateLimit-ResetTime: ['Tue, 09 Jul 2018 20:23:29 GMT']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['2']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
version: 1
