interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/users?per_page=100&username=sils
  response:
    body: {string: '[{"id":104269,"name":"Lasse Schuirmann","username":"sils","state":"active","avatar_url":"https://secure.gravatar.com/avatar/ea9b9ed83df6acc43cc4ea26b0447ea7?s=80\u0026d=identicon","web_url":"https://gitlab.com/sils"}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"a37e5bb674e0601b24ce96829f3ce168"]
      Link: ['<https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=100&skip_ldap=false&username=sils&with_custom_attributes=false>;
          rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=100&skip_ldap=false&username=sils&with_custom_attributes=false>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1540454083']
      RateLimit-ResetTime: ['Fri, 25 Oct 2018 07:54:43 GMT']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['1']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/users/104269?per_page=100
  response:
    body: {string: '{"id":104269,"name":"Lasse Schuirmann","username":"sils","state":"active","avatar_url":"https://secure.gravatar.com/avatar/ea9b9ed83df6acc43cc4ea26b0447ea7?s=80\u0026d=identicon","web_url":"https://gitlab.com/sils","created_at":"2015-03-01T14:47:31.571Z","bio":"","location":"Hamburg","public_email":"lasse.schuirmann@gmail.com","skype":"","linkedin":"","twitter":"","website_url":"viperdev.io","organization":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"64d163242b2d574c090d65f287ef86e1"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['2']
      RateLimit-Remaining: ['598']
      RateLimit-Reset: ['1540454083']
      RateLimit-ResetTime: ['Fri, 25 Oct 2018 07:54:43 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/user?per_page=100
  response:
    body: {string: "{\"id\":1369631,\"name\":\"GitMate Labs \U0001F47D\",\"username\":\"gitmate-test-user\",\"state\":\"active\",\"avatar_url\":\"https://assets.gitlab-static.net/uploads/-/system/user/avatar/1369631/avatar.png\",\"web_url\":\"https://gitlab.com/gitmate-test-user\",\"created_at\":\"2017-06-02T07:14:25.112Z\",\"bio\":\"\",\"location\":\"\",\"public_email\":\"\",\"skype\":\"\",\"linkedin\":\"\",\"twitter\":\"\",\"website_url\":\"\",\"organization\":\"\",\"last_sign_in_at\":\"2018-05-24T13:25:34.745Z\",\"confirmed_at\":\"2017-06-02T07:17:21.578Z\",\"last_activity_on\":\"2018-08-15\",\"email\":\"naveendarknight@gmail.com\",\"theme_id\":null,\"color_scheme_id\":1,\"projects_limit\":100000,\"current_sign_in_at\":\"2018-08-15T11:02:55.378Z\",\"identities\":[],\"can_create_group\":true,\"can_create_project\":true,\"two_factor_enabled\":false,\"external\":false,\"private_profile\":null,\"shared_runners_minutes_limit\":2000}"}
    headers:
      Content-Type: [application/json]
      Etag: [W/"3c0c3a2d516c38893e93aa1aaa48ab22"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1540454084']
      RateLimit-ResetTime: ['Fri, 25 Oct 2018 07:54:44 GMT']
    status: {code: 200, message: OK}
version: 1
