interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/groups/1999522?per_page=100
  response:
    body: {string: '{"id":1999522,"web_url":"https://gitlab.com/groups/gitmate-test-org/another-subgroup","name":"another-subgroup","path":"another-subgroup","description":"","visibility":"public","lfs_enabled":true,"avatar_url":null,"request_access_enabled":false,"full_name":"gitmate-test-org
        / another-subgroup","full_path":"gitmate-test-org/another-subgroup","parent_id":1999111,"projects":[],"shared_projects":[],"ldap_cn":null,"ldap_access":null,"shared_runners_minutes_limit":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"bd007a6d4bd2ccdb6925f5236522167c"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['2']
      RateLimit-Remaining: ['598']
      RateLimit-Reset: ['1530272931']
      RateLimit-ResetTime: ['Sat, 29 Jun 2018 11:48:51 GMT']
    status: {code: 200, message: OK}
version: 1
