interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/groups/1999111/members?per_page=100
  response:
    body: {string: "[{\"id\":889700,\"name\":\"Naveen Kumar Sangi\U0001F984\",\"username\"\
        :\"nkprince007\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/2ed27920a4ec4445d0e390a30df7145d?s=80\\\
        u0026d=identicon\",\"web_url\":\"https://gitlab.com/nkprince007\",\"access_level\"\
        :50,\"expires_at\":null},{\"id\":104269,\"name\":\"Lasse Schuirmann\",\"username\"\
        :\"sils\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/ea9b9ed83df6acc43cc4ea26b0447ea7?s=80\\\
        u0026d=identicon\",\"web_url\":\"https://gitlab.com/sils\",\"access_level\"\
        :50,\"expires_at\":null},{\"id\":1369631,\"name\":\"GitMate Labs \U0001F47D\
        \",\"username\":\"gitmate-test-user\",\"state\":\"active\",\"avatar_url\"\
        :\"https://assets.gitlab-static.net/uploads/-/system/user/avatar/1369631/avatar.png\"\
        ,\"web_url\":\"https://gitlab.com/gitmate-test-user\",\"access_level\":40,\"\
        expires_at\":null}]"}
    headers:
      Content-Type: [application/json]
      Etag: [W/"c659691b643b1799d2a33d22697108f2"]
      Link: ['<https://gitlab.com/api/v4/groups/1999111/members?id=1999111&page=1&per_page=100>;
          rel="first", <https://gitlab.com/api/v4/groups/1999111/members?id=1999111&page=1&per_page=100>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['3']
      RateLimit-Remaining: ['597']
      RateLimit-Reset: ['1530272932']
      RateLimit-ResetTime: ['Sat, 29 Jun 2018 11:48:52 GMT']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['3']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
version: 1
