interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/25/commits?per_page=100
  response:
    body: {string: '[{"id":"9ba5b704f5866e468ec2e639fa893ae4c129f2ad","short_id":"9ba5b704","title":"Create
        a.txt","created_at":"2017-07-28T19:59:43.000Z","parent_ids":[],"message":"Create
        a.txt\n\nAwesome commit message\n\nFix #21, Fixes #22 and Closes gitmate-test-user/test#23.\nThis
        commit is also related to #31 and fixes #26, #27\nand https://gitlab.com/gitmate-test-user/test/issues/30.","author_name":"Naveen
        Kumar Sangi","author_email":"nkprince007@gmail.com","authored_date":"2017-07-28T19:59:43.000Z","committer_name":"Naveen
        Kumar Sangi","committer_email":"nkprince007@gmail.com","committed_date":"2017-07-28T19:59:43.000Z"}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"af045c93b2c728bd4366b868c62788d2"]
      Link: ['<https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/25/commits?id=gitmate-test-user%2Ftest&merge_request_iid=25&page=1&per_page=100>;
          rel="first", <https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/25/commits?id=gitmate-test-user%2Ftest&merge_request_iid=25&page=1&per_page=100>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1525976574']
      RateLimit-ResetTime: ['Fri, 10 May 2018 18:22:54 GMT']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['1']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"ec473cf68f4e20a9f316c0263d62a705"]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/9ba5b704f5866e468ec2e639fa893ae4c129f2ad?per_page=100
  response:
    body: {string: ''}
    headers:
      Etag: [W/"ec473cf68f4e20a9f316c0263d62a705"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['2']
      RateLimit-Remaining: ['598']
      RateLimit-Reset: ['1525976576']
      RateLimit-ResetTime: ['Fri, 10 May 2018 18:22:56 GMT']
    status: {code: 304, message: Not Modified}
version: 1
