interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/76?per_page=100
  response:
    body: {string: '{"id":9411341,"iid":76,"project_id":3439658,"title":"commit to
        create pr for milestone testing","description":"","state":"opened","created_at":"2018-04-25T09:28:32.429Z","updated_at":"2018-04-25T09:28:43.100Z","target_branch":"master","source_branch":"seblat/milestonetesting","upvotes":0,"downvotes":0,"author":{"id":463976,"name":"Sebastian
        Latacz","username":"seblat","state":"active","avatar_url":"https://assets.gitlab-static.net/uploads/-/system/user/avatar/463976/avatar.png","web_url":"https://gitlab.com/seblat"},"assignee":null,"source_project_id":3439658,"target_project_id":3439658,"labels":[],"work_in_progress":false,"milestone":{"id":513937,"iid":1,"project_id":3439658,"title":"Permanent
        IGitt test milestone. DO NOT DELETE.","description":"Description update to
        test updated getter","state":"active","created_at":"2018-04-25T09:11:00.029Z","updated_at":"2018-04-30T11:22:02.350Z","due_date":null,"start_date":null},"merge_when_pipeline_succeeds":false,"merge_status":"can_be_merged","sha":"78b4b35183d49d87917ec66dbfd3346fdad7fb33","merge_commit_sha":null,"user_notes_count":0,"discussion_locked":null,"should_remove_source_branch":null,"force_remove_source_branch":false,"web_url":"https://gitlab.com/gitmate-test-user/test/merge_requests/76","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"subscribed":false,"changes_count":"1","merged_by":null,"merged_at":null,"closed_by":null,"closed_at":null,"latest_build_started_at":"2018-04-25T09:28:54.490Z","latest_build_finished_at":"2018-04-25T09:29:13.631Z","first_deployed_to_production_at":null,"pipeline":{"id":21058329,"sha":"78b4b35183d49d87917ec66dbfd3346fdad7fb33","ref":"seblat/milestonetesting","status":"success"},"diff_refs":{"base_sha":"3f49e40b56723a773c8d817a815c5a4a26115df7","head_sha":"78b4b35183d49d87917ec66dbfd3346fdad7fb33","start_sha":"3f49e40b56723a773c8d817a815c5a4a26115df7"},"approvals_before_merge":null,"squash":false}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"edecf14db2073911ff813dce84af049c"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1526639601']
      RateLimit-ResetTime: ['Sat, 18 May 2018 10:33:21 GMT']
    status: {code: 200, message: OK}
version: 1
