interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"4474ffa37ce7b5dd24d4861e05488248"]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/milestones/513937?per_page=100
  response:
    body: {string: ''}
    headers:
      Etag: [W/"4474ffa37ce7b5dd24d4861e05488248"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1524732562']
      RateLimit-ResetTime: ['Fri, 26 Apr 2018 08:49:22 GMT']
    status: {code: 304, message: Not Modified}
- request:
    body: '{"due_date": "2050-04-23", "title": "Permanent IGitt test milestone. DO
      NOT DELETE."}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"4474ffa37ce7b5dd24d4861e05488248"]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/milestones/513937
  response:
    body: {string: '{"id":513937,"iid":1,"project_id":3439658,"title":"Permanent IGitt
        test milestone. DO NOT DELETE.","description":null,"state":"active","created_at":"2018-04-25T09:11:00.029Z","updated_at":"2018-04-26T08:48:41.070Z","due_date":"2050-04-23","start_date":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"600474f3e8fe99ebebb5f8fbce9cb07f"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1524732581']
      RateLimit-ResetTime: ['Fri, 26 Apr 2018 08:49:41 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"due_date": null, "title": "Permanent IGitt test milestone. DO NOT DELETE."}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"600474f3e8fe99ebebb5f8fbce9cb07f"]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/milestones/513937
  response:
    body: {string: '{"id":513937,"iid":1,"project_id":3439658,"title":"Permanent IGitt
        test milestone. DO NOT DELETE.","description":null,"state":"active","created_at":"2018-04-25T09:11:00.029Z","updated_at":"2018-04-26T08:49:22.203Z","due_date":null,"start_date":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"2d97fe91699c84c5b417538ab829ef49"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1524732622']
      RateLimit-ResetTime: ['Fri, 26 Apr 2018 08:50:22 GMT']
    status: {code: 200, message: OK}
version: 1
