interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/9ba5b704f5866e468ec2e639fa893ae4c129f2ad?per_page=100
  response:
    body: {string: '{"id":"9ba5b704f5866e468ec2e639fa893ae4c129f2ad","short_id":"9ba5b704","title":"Create
        a.txt","created_at":"2017-07-28T19:59:43.000Z","parent_ids":["515280bfe8488e1b403e0dd95c41a404355ca184"],"message":"Create
        a.txt\n\nAwesome commit message\n\nFix #21, Fixes #22 and Closes gitmate-test-user/test#23.\nThis
        commit is also related to #31 and fixes #26, #27\nand https://gitlab.com/gitmate-test-user/test/issues/30.","author_name":"Naveen
        Kumar Sangi","author_email":"nkprince007@gmail.com","authored_date":"2017-07-28T19:59:43.000Z","committer_name":"Naveen
        Kumar Sangi","committer_email":"nkprince007@gmail.com","committed_date":"2017-07-28T19:59:43.000Z","stats":{"additions":1,"deletions":0,"total":1},"status":"running","last_pipeline":{"id":12080175,"sha":"9ba5b704f5866e468ec2e639fa893ae4c129f2ad","ref":"test-issue-pr-relate","status":"running"},"project_id":3439658}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"c6289b2cd38838dbcaff24b04e20028f"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1526136869']
      RateLimit-ResetTime: ['Sun, 12 May 2018 14:54:29 GMT']
    status: {code: 200, message: OK}
version: 1
