interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"930b21e7d9f2cbfa7dfc936bd83a456a"]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/7?per_page=100
  response:
    body: {string: "{\"id\":3761791,\"iid\":7,\"project_id\":3439658,\"title\":\"\
        Update README.md\",\"description\":\"\",\"state\":\"opened\",\"created_at\"\
        :\"2017-06-07T12:01:20.476Z\",\"updated_at\":\"2018-04-26T09:56:09.515Z\"\
        ,\"target_branch\":\"master\",\"source_branch\":\"gitmate-test-user-patch-2\"\
        ,\"upvotes\":0,\"downvotes\":0,\"author\":{\"id\":889700,\"name\":\"Naveen\
        \ Kumar Sangi\U0001F984\",\"username\":\"nkprince007\",\"state\":\"active\"\
        ,\"avatar_url\":\"https://secure.gravatar.com/avatar/2ed27920a4ec4445d0e390a30df7145d?s=80\\\
        u0026d=identicon\",\"web_url\":\"https://gitlab.com/nkprince007\"},\"assignee\"\
        :null,\"source_project_id\":3439658,\"target_project_id\":3439658,\"labels\"\
        :[],\"work_in_progress\":false,\"milestone\":null,\"merge_when_pipeline_succeeds\"\
        :false,\"merge_status\":\"cannot_be_merged\",\"sha\":\"f6d2b7c66372236a090a2a74df2e47f42a54456b\"\
        ,\"merge_commit_sha\":null,\"user_notes_count\":11,\"discussion_locked\":null,\"\
        should_remove_source_branch\":null,\"force_remove_source_branch\":null,\"\
        web_url\":\"https://gitlab.com/gitmate-test-user/test/merge_requests/7\",\"\
        time_stats\":{\"time_estimate\":0,\"total_time_spent\":0,\"human_time_estimate\"\
        :null,\"human_total_time_spent\":null},\"squash\":false,\"subscribed\":true,\"\
        changes_count\":\"1\",\"merged_by\":null,\"merged_at\":null,\"closed_by\"\
        :null,\"closed_at\":null,\"latest_build_started_at\":null,\"latest_build_finished_at\"\
        :null,\"first_deployed_to_production_at\":null,\"pipeline\":null,\"diff_refs\"\
        :{\"base_sha\":\"674498fd415cfadc35c5eb28b8951e800f357c6f\",\"head_sha\":\"\
        f6d2b7c66372236a090a2a74df2e47f42a54456b\",\"start_sha\":\"20d99d2b6124ccef9e9593749357a10c79085dae\"\
        },\"approvals_before_merge\":null}"}
    headers:
      Content-Type: [application/json]
      Etag: [W/"89d51dba47f646094451f39a6bb6bd52"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1531077193']
      RateLimit-ResetTime: ['Mon, 08 Jul 2018 19:13:13 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"30aedda44009fba69789577cd8c90f0b"]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/25?per_page=100
  response:
    body: {string: "{\"id\":4445169,\"iid\":25,\"project_id\":3439658,\"title\":\"\
        Create a.txt\",\"description\":\"Awesome commit message\\n\\nFix #21, Fixes\
        \ #22 and Closes gitmate-test-user/test#23.\\nThis commit is also related\
        \ to #31 and fixes #26, #27\\nand https://gitlab.com/gitmate-test-user/test/issues/30.\"\
        ,\"state\":\"opened\",\"created_at\":\"2017-07-28T20:00:27.022Z\",\"updated_at\"\
        :\"2018-06-26T08:01:10.728Z\",\"target_branch\":\"master\",\"source_branch\"\
        :\"test-issue-pr-relate\",\"upvotes\":0,\"downvotes\":0,\"author\":{\"id\"\
        :889700,\"name\":\"Naveen Kumar Sangi\U0001F984\",\"username\":\"nkprince007\"\
        ,\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/2ed27920a4ec4445d0e390a30df7145d?s=80\\\
        u0026d=identicon\",\"web_url\":\"https://gitlab.com/nkprince007\"},\"assignee\"\
        :null,\"source_project_id\":3439658,\"target_project_id\":3439658,\"labels\"\
        :[],\"work_in_progress\":false,\"milestone\":null,\"merge_when_pipeline_succeeds\"\
        :false,\"merge_status\":\"can_be_merged\",\"sha\":\"9ba5b704f5866e468ec2e639fa893ae4c129f2ad\"\
        ,\"merge_commit_sha\":null,\"user_notes_count\":1,\"discussion_locked\":null,\"\
        should_remove_source_branch\":null,\"force_remove_source_branch\":false,\"\
        web_url\":\"https://gitlab.com/gitmate-test-user/test/merge_requests/25\"\
        ,\"time_stats\":{\"time_estimate\":0,\"total_time_spent\":0,\"human_time_estimate\"\
        :null,\"human_total_time_spent\":null},\"squash\":false,\"subscribed\":true,\"\
        changes_count\":\"1\",\"merged_by\":null,\"merged_at\":null,\"closed_by\"\
        :null,\"closed_at\":null,\"latest_build_started_at\":null,\"latest_build_finished_at\"\
        :\"2017-09-24T12:09:30.935Z\",\"first_deployed_to_production_at\":null,\"\
        pipeline\":{\"id\":12080175,\"sha\":\"9ba5b704f5866e468ec2e639fa893ae4c129f2ad\"\
        ,\"ref\":\"test-issue-pr-relate\",\"status\":\"running\"},\"diff_refs\":{\"\
        base_sha\":\"515280bfe8488e1b403e0dd95c41a404355ca184\",\"head_sha\":\"9ba5b704f5866e468ec2e639fa893ae4c129f2ad\"\
        ,\"start_sha\":\"515280bfe8488e1b403e0dd95c41a404355ca184\"},\"approvals_before_merge\"\
        :null}"}
    headers:
      Content-Type: [application/json]
      Etag: [W/"e45c23c1afaf2473481c22767739babc"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['2']
      RateLimit-Remaining: ['598']
      RateLimit-Reset: ['1531077194']
      RateLimit-ResetTime: ['Mon, 08 Jul 2018 19:13:14 GMT']
    status: {code: 200, message: OK}
version: 1
