interactions:
- request:
    body: '{"description": "Description update to test updated getter"}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"99f95e30a952c2e37f8934f30b4d4c1d"]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/milestones/513937
  response:
    body: {string: '{"id":513937,"iid":1,"project_id":3439658,"title":"Permanent IGitt
        test milestone. DO NOT DELETE.","description":"Description update to test
        updated getter","state":"active","created_at":"2018-04-25T09:11:00.029Z","updated_at":"2018-04-26T08:53:57.609Z","due_date":null,"start_date":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"42aeb0be55c22208dfb5cbd185103dc9"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1524732897']
      RateLimit-ResetTime: ['Fri, 26 Apr 2018 08:54:57 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"description": null}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"42aeb0be55c22208dfb5cbd185103dc9"]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/milestones/513937
  response:
    body: {string: '{"id":513937,"iid":1,"project_id":3439658,"title":"Permanent IGitt
        test milestone. DO NOT DELETE.","description":null,"state":"active","created_at":"2018-04-25T09:11:00.029Z","updated_at":"2018-04-26T08:54:01.199Z","due_date":null,"start_date":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"6f96994035c24502a599c8721e62babe"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1524732901']
      RateLimit-ResetTime: ['Fri, 26 Apr 2018 08:55:01 GMT']
    status: {code: 200, message: OK}
version: 1
