interactions:
- request:
    body: '{"start_date": "2040-04-23"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/milestones/513937
  response:
    body: {string: '{"id":513937,"iid":1,"project_id":3439658,"title":"Permanent IGitt
        test milestone. DO NOT DELETE.","description":"Description update to test
        updated getter","state":"active","created_at":"2018-04-25T09:11:00.029Z","updated_at":"2018-06-26T09:20:24.135Z","due_date":null,"start_date":"2040-04-23","web_url":"https://gitlab.com/gitmate-test-user/test/milestones/1"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"f9a5e0bdb9e44f7c5a132082200bcca8"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1530004884']
      RateLimit-ResetTime: ['Wed, 26 Jun 2018 09:21:24 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"start_date": null}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/milestones/513937
  response:
    body: {string: '{"id":513937,"iid":1,"project_id":3439658,"title":"Permanent IGitt
        test milestone. DO NOT DELETE.","description":"Description update to test
        updated getter","state":"active","created_at":"2018-04-25T09:11:00.029Z","updated_at":"2018-06-26T09:20:24.833Z","due_date":null,"start_date":null,"web_url":"https://gitlab.com/gitmate-test-user/test/milestones/1"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"1d40571e073fb2d0039550c73796ddca"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['2']
      RateLimit-Remaining: ['598']
      RateLimit-Reset: ['1530004884']
      RateLimit-ResetTime: ['Wed, 26 Jun 2018 09:21:24 GMT']
    status: {code: 200, message: OK}
version: 1
