interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"2d97fe91699c84c5b417538ab829ef49"]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/milestones/513937?per_page=100
  response:
    body: {string: ''}
    headers:
      Etag: [W/"2d97fe91699c84c5b417538ab829ef49"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1524732735']
      RateLimit-ResetTime: ['Fri, 26 Apr 2018 08:52:15 GMT']
    status: {code: 304, message: Not Modified}
- request:
    body: '{"start_date": "2040-04-23", "title": "Permanent IGitt test milestone.
      DO NOT DELETE."}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"2d97fe91699c84c5b417538ab829ef49"]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/milestones/513937
  response:
    body: {string: '{"id":513937,"iid":1,"project_id":3439658,"title":"Permanent IGitt
        test milestone. DO NOT DELETE.","description":null,"state":"active","created_at":"2018-04-25T09:11:00.029Z","updated_at":"2018-04-26T08:51:20.068Z","due_date":null,"start_date":"2040-04-23"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"b5d0dc31c03d02f97960f47d5fbaefda"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1524732740']
      RateLimit-ResetTime: ['Fri, 26 Apr 2018 08:52:20 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"start_date": null, "title": "Permanent IGitt test milestone. DO NOT DELETE."}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"b5d0dc31c03d02f97960f47d5fbaefda"]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/milestones/513937
  response:
    body: {string: '{"id":513937,"iid":1,"project_id":3439658,"title":"Permanent IGitt
        test milestone. DO NOT DELETE.","description":null,"state":"active","created_at":"2018-04-25T09:11:00.029Z","updated_at":"2018-04-26T08:51:21.352Z","due_date":null,"start_date":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"013d10c13414458595639826a529c8d7"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1524732741']
      RateLimit-ResetTime: ['Fri, 26 Apr 2018 08:52:21 GMT']
    status: {code: 200, message: OK}
version: 1
