interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits?per_page=100
  response:
    body: {string: '[{"id":"69e17e536092754e98aafbe5da0ee2be5fea81fb","short_id":"69e17e53","title":"Upload
        tokens.png","created_at":"2017-09-28T20:28:10.000+00:00","parent_ids":["05a9faff56fd9bdb25d18a554bb2f3320de3fc6f"],"message":"Upload
        tokens.png","author_name":"Naveen Kumar Sangi","author_email":"nkprince007@gmail.com","authored_date":"2017-09-28T20:28:10.000+00:00","committer_name":"Naveen
        Kumar Sangi","committer_email":"nkprince007@gmail.com","committed_date":"2017-09-28T20:28:10.000+00:00"},{"id":"05a9faff56fd9bdb25d18a554bb2f3320de3fc6f","short_id":"05a9faff","title":"Add
        .gitlab-ci.yml","created_at":"2017-09-28T19:45:56.000+00:00","parent_ids":["7747ee49b7d322e7d82520126ca275115aa67447"],"message":"Add
        .gitlab-ci.yml","author_name":"Naveen Kumar Sangi","author_email":"nkprince007@gmail.com","authored_date":"2017-09-28T19:45:56.000+00:00","committer_name":"Naveen
        Kumar Sangi","committer_email":"nkprince007@gmail.com","commit[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Fempty/repository/commits?per_page=100
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"d751713988987e9331980363e24189ce"]
      Link: ['<https://gitlab.com/api/v4/projects/gitmate-test-user%2Fempty/repository/commits?id=gitmate-test-user%2Fempty&page=1&per_page=100>;
          rel="first", <https://gitlab.com/api/v4/projects/gitmate-test-user%2Fempty/repository/commits?id=gitmate-test-user%2Fempty&page=1&per_page=100>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['3']
      RateLimit-Remaining: ['597']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['0']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"d2fc454d5f8463dccdad8d81e3eba9eb"]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits?per_page=100
  response:
    body: {string: "[{\"id\":\"20d99d2b6124ccef9e9593749357a10c79085dae\",\"short_id\"\
        :\"20d99d2b\",\"title\":\"Update README\",\"created_at\":\"2018-04-26T09:35:17.000Z\"\
        ,\"parent_ids\":[\"e0fb5e9d7f6e0e362d61afb6f76974a0822f13eb\"],\"message\"\
        :\"Update README\",\"author_name\":\"GitMate Labs \U0001[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/users?per_page=100&username=sils
  response:
    body: {string: '[{"id":104269,"name":"Lasse Schuirmann","username":"sils","state":"active","avatar_url":"https://secure.gravatar.com/avatar/ea9b9ed83df6acc43cc4ea26b0447ea7?s=80\u0026d=identicon","web_url":"https://gitlab.com/sils"}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"a37e5bb674e0601b24ce96829f3ce168"]
      Link: ['<https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=100&skip_ldap=false&username=sils&with_custom_attributes=false>;
          rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=100&skip_ldap=false&username=sils&with_custom_attributes=false>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1525687764']
      RateLimit-ResetTime: ['Tue, 07 May 2018 10:09:24 GMT']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['1']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"a37e5bb674e0601b24ce96829f3ce168"]
    method: GET
    uri: https://gitlab.com/api/v4/users?per_page=100&username=nonenone
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"d751713988987e9331980363e24189ce"]
      Link: ['<https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=100&skip_ldap=false&username=nonenone&with_custom_attributes=false>;
          rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=100&skip_ldap=false&username=nonenone&with_custom_attributes=false>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['2']
      RateLimit-Remaining: ['598']
      RateLimit-Reset: ['1525687772']
      RateLimit-ResetTime: ['Tue, 07 May 2018 10:09:32 GMT']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['0']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"d751713988987e9331980363e24189ce"]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Fempty/repository/commits?per_page=100
  response:
    body: {string: ''}
    headers:
      Etag: [W/"d751713988987e9331980363e24189ce"]
      Link: ['<https://gitlab.com/api/v4/projects/gitmate-test-user%2Fempty/repository/commits?id=gitmate-test-user%2Fempty&page=1&per_page=100>;
          rel="first", <https://gitlab.com/api/v4/projects/gitmate-test-user%2Fempty/repository/commits?id=gitmate-test-user%2Fempty&page=1&per_page=100>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['2']
      RateLimit-Remaining: ['598']
      RateLimit-Reset: ['1525802133']
      RateLimit-ResetTime: ['Wed, 08 May 2018 17:55:33 GMT']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['0']
      X-Total-Pages: ['1']
    status: {code: 304, message: Not Modified}
version: 1
