interactions:
- request:
    body: '{"description": "Test Milestone Description"}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"77ba37a3de87d81f806f9b6effab241e"]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/milestones/513937
  response:
    body: {string: '{"id":513937,"iid":1,"project_id":3439658,"title":"Permanent IGitt
        test milestone. DO NOT DELETE.","description":"Test Milestone Description","state":"active","created_at":"2018-04-25T09:11:00.029Z","updated_at":"2018-04-26T08:47:09.884Z","due_date":null,"start_date":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"eed944d8b87c7dbaec7aca7a45839a94"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1524732490']
      RateLimit-ResetTime: ['Fri, 26 Apr 2018 08:48:10 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"description": null}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"eed944d8b87c7dbaec7aca7a45839a94"]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/milestones/513937
  response:
    body: {string: '{"id":513937,"iid":1,"project_id":3439658,"title":"Permanent IGitt
        test milestone. DO NOT DELETE.","description":null,"state":"active","created_at":"2018-04-25T09:11:00.029Z","updated_at":"2018-04-26T08:47:23.781Z","due_date":null,"start_date":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"4474ffa37ce7b5dd24d4861e05488248"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1524732503']
      RateLimit-ResetTime: ['Fri, 26 Apr 2018 08:48:23 GMT']
    status: {code: 200, message: OK}
version: 1
