interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/milestones/513937/merge_requests?per_page=100
  response:
    body: {string: '[{"id":9411341,"iid":76,"project_id":3439658,"title":"commit to
        create pr for milestone testing","description":"","state":"opened","created_at":"2018-04-25T09:28:32.429Z","updated_at":"2018-04-25T09:28:43.100Z","target_branch":"master","source_branch":"seblat/milestonetesting","upvotes":0,"downvotes":0,"author":{"id":463976,"name":"Sebastian
        Latacz","username":"seblat","state":"active","avatar_url":"https://assets.gitlab-static.net/uploads/-/system/user/avatar/463976/avatar.png","web_url":"https://gitlab.com/seblat"},"assignee":null,"source_project_id":3439658,"target_project_id":3439658,"labels":[],"work_in_progress":false,"milestone":{"id":513937,"iid":1,"project_id":3439658,"title":"Permanent
        IGitt test milestone. DO NOT DELETE.","description":null,"state":"active","created_at":"2018-04-25T09:11:00.029Z","updated_at":"2018-04-26T08:49:22.203Z","due_date":null,"start_date":null},"merge_when_pipeline_succeeds":false,"merge_status":"can_be_merged","sha":"78b4b35183d49d87917ec66dbfd3346fdad7fb33","merge_commit_sha":null,"user_notes_count":0,"discussion_locked":null,"should_remove_source_branch":null,"force_remove_source_branch":false,"web_url":"https://gitlab.com/gitmate-test-user/test/merge_requests/76","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"approvals_before_merge":null,"squash":false}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"1d568acb6417c7db5f88c340b9fe5700"]
      Link: ['<https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/milestones/513937/merge_requests?id=gitmate-test-user%2Ftest&milestone_id=513937&page=1&per_page=100>;
          rel="first", <https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/milestones/513937/merge_requests?id=gitmate-test-user%2Ftest&milestone_id=513937&page=1&per_page=100>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1524732708']
      RateLimit-ResetTime: ['Fri, 26 Apr 2018 08:51:48 GMT']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['1']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
version: 1
