interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/16/commits?per_page=100
  response:
    body: {string: '[{"id":"a37bb904b39a4aabee24f52ff98a0a988a41a24a","short_id":"a37bb904","title":"gitmate
        please work","created_at":"2017-06-16T14:00:40.000Z","parent_ids":[],"message":"gitmate
        please work","author_name":"Naveen Kumar Sangi","author_email":"nkprince007@gmail.com","authored_date":"2017-06-16T14:00:40.000Z","committer_name":"Naveen
        Kumar Sangi","committer_email":"nkprince007@gmail.com","committed_date":"2017-06-16T14:00:40.000Z"},{"id":"b315282d00f2cff0b181fcc277309f2a08163a8e","short_id":"b315282d","title":"Update
        README.md","created_at":"2017-06-16T12:40:34.000Z","parent_ids":[],"message":"Update
        README.md","author_name":"Naveen Kumar Sangi","author_email":"nkprince007@gmail.com","authored_date":"2017-06-16T12:40:34.000Z","committer_name":"Naveen
        Kumar Sangi","committer_email":"nkprince007@gmail.com","committed_date":"2017-06-16T12:40:34.000Z"}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"6f196b098ecdb2ce5bc2f3f7f5b22570"]
      Link: ['<https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/16/commits?id=gitmate-test-user%2Ftest&merge_request_iid=16&page=1&per_page=100>;
          rel="first", <https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/16/commits?id=gitmate-test-user%2Ftest&merge_request_iid=16&page=1&per_page=100>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['3']
      RateLimit-Remaining: ['597']
      RateLimit-Reset: ['1525976579']
      RateLimit-ResetTime: ['Fri, 10 May 2018 18:22:59 GMT']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['2']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/a37bb904b39a4aabee24f52ff98a0a988a41a24a?per_page=100
  response:
    body: {string: '{"id":"a37bb904b39a4aabee24f52ff98a0a988a41a24a","short_id":"a37bb904","title":"gitmate
        please work","created_at":"2017-06-16T14:00:40.000+00:00","parent_ids":["b315282d00f2cff0b181fcc277309f2a08163a8e"],"message":"gitmate
        please work","author_name":"Naveen Kumar Sangi","author_email":"nkprince007@gmail.com","authored_date":"2017-06-16T14:00:40.000+00:00","committer_name":"Naveen
        Kumar Sangi","committer_email":"nkprince007@gmail.com","committed_date":"2017-06-16T14:00:40.000+00:00","stats":{"additions":2,"deletions":1,"total":3},"status":"running","last_pipeline":{"id":9087941,"sha":"a37bb904b39a4aabee24f52ff98a0a988a41a24a","ref":"hello","status":"running"},"project_id":3439658}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"634db998d53d377b91f35ea90f445d60"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['4']
      RateLimit-Remaining: ['596']
      RateLimit-Reset: ['1525976582']
      RateLimit-ResetTime: ['Fri, 10 May 2018 18:23:02 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/16/notes?per_page=100
  response:
    body: {string: "[{\"id\":47712686,\"type\":null,\"body\":\"Related to https://gitlab.com/gitmate-test-user/test/issues/10\
        \ https://gitlab.com/gitmate-test-user/test/issues/11 \\nRelated https://gitlab.com/gitmate-test-user/test/issues/12\\\
        nRelates to https://gitlab.com/gitmate-test-user/test/issues/13\",\"attachment\"\
        :null,\"author\":{\"id\":707601,\"name\":\"Meet Mangukiya\",\"username\":\"\
        meetmangukiya\",\"state\":\"active\",\"avatar_url\":\"https://assets.gitlab-static.net/uploads/-/system/user/avatar/707601/avatar.png\"\
        ,\"web_url\":\"https://gitlab.com/meetmangukiya\"},\"created_at\":\"2017-11-17T16:54:07.647Z\"\
        ,\"updated_at\":\"2017-11-17T16:54:07.647Z\",\"system\":false,\"noteable_id\"\
        :3880987,\"noteable_type\":\"MergeRequest\",\"resolvable\":false,\"noteable_iid\"\
        :16},{\"id\":33006099,\"type\":null,\"body\":\"reopened\",\"attachment\":null,\"\
        author\":{\"id\":889700,\"name\":\"Naveen Kumar Sangi\U0001F984\",\"username\"\
        :\"nkprince007\",\"state\":\"active\",\"avatar_url\":\"https://secure.gravatar.com/avatar/2ed27920a4ec4445d0e390a30df7145d?s=80\\\
        u0026d=identicon\",\"web_url\":\"https://gitlab.com/nkprince007\"},\"created_at\"\
        :\"2017-06-20T12:44:34.841Z\",\"updated_at\":\"2017-06-20T12:44:34.841Z\"\
        ,\"system\":true,\"noteable_id\":3880987,\"noteable_type\":\"MergeRequest\"\
        ,\"resolvable\":false,\"noteable_iid\":16},{\"id\":33006000,\"type\":null,\"\
        body\":\"closed\",\"attachment\":null,\"author\":{\"id\":889700,\"name\":\"\
        Naveen Kumar Sangi\U0001F984\",\"username\":\"nkprince007\",\"state\":\"active\"\
        ,\"avatar_url\":\"https://secure.gravatar.com/avatar/2ed27920a4ec4445d0e390a30df7145d?s=80\\\
        u0026d=identicon\",\"web_url\":\"https://gitlab.com/nkprince007\"},\"created_at\"\
        :\"2017-06-20T12:43:37.586Z\",\"updated_at\":\"2017-06-20T12:43:37.586Z\"\
        ,\[...]
