interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/78/commits?per_page=100
  response:
    body: {string: '[{"id":"0164595c7d75404c2e0ce8622cea825e59e9d558","short_id":"0164595c","title":"Test
        title","created_at":"2018-06-05T10:16:05.000Z","parent_ids":[],"message":"Test
        title\n\nsample commit message.\n\nFix #21, Fixes #22 and Closes #23.\nThis
        commit is also related to #31 and fixes #26, #27\nand #30. Resolves #41\n","author_name":"Vamshi99","author_email":"bommvams72@gmail.com","authored_date":"2018-06-05T10:13:13.000Z","committer_name":"Vamshi99","committer_email":"bommvams72@gmail.com","committed_date":"2018-06-05T10:16:05.000Z"}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"df585c0f9d54d77c6334102bf719acfe"]
      Link: ['<https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/78/commits?id=gitmate-test-user%2Ftest&merge_request_iid=78&page=1&per_page=100>;
          rel="first", <https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/78/commits?id=gitmate-test-user%2Ftest&merge_request_iid=78&page=1&per_page=100>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1528384461']
      RateLimit-ResetTime: ['Fri, 07 Jun 2018 15:14:21 GMT']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['1']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"189db5c222ef532a6cb8764ec9ecb4cc"]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/0164595c7d75404c2e0ce8622cea825e59e9d558?per_page=100
  response:
    body: {string: '{"id":"0164595c7d75404c2e0ce8622cea825e59e9d558","short_id":"0164595c","title":"Test
        title","created_at":"2018-06-05T10:16:05.000Z","parent_ids":["20d99d2b6124ccef9e9593749357a10c79085dae"],"message":"Test
        title\n\nsample commit message.\n\nFix #21, Fixes #22 and Closes #23.\nThis
        commit is also related to #31 and fixes #26, #27\nand #30. Resolves #41\n","author_name":"Vamshi99","author_email":"bommvams72@gmail.com","authored_date":"2018-06-05T10:13:13.000Z","committer_name":"Vamshi99","committer_email":"bommvams72@gmail.com","committed_date":"2018-06-05T10:16:05.000Z","stats":{"additions":1,"deletions":0,"total":1},"status":null,"last_pipeline":null,"project_id":3439658}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"a2a7c908408196bbab28b9f09b267036"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1528384463']
      RateLimit-ResetTime: ['Fri, 07 Jun 2018 15:14:23 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"e585b557f9a0bd3715b9a344445efc41"]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/38715b42c86ec565a6e0e4b13255448e8f202f8d?per_page=100
  response:
    body: {string: ''}
    headers:
      Etag: [W/"e585b557f9a0bd3715b9a344445efc41"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1528384466']
      RateLimit-ResetTime: ['Fri, 07 Jun 2018 15:14:26 GMT']
    status: {code: 304, message: Not Modified}
version: 1
