interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/milestones/513937/issues?per_page=100
  response:
    body: {string: '[{"id":10517807,"iid":39,"project_id":3439658,"title":"Issue 3
        for the milestones tests DO NOT DELETE","description":"","state":"opened","created_at":"2018-04-25T09:12:21.380Z","updated_at":"2018-04-25T09:12:21.380Z","closed_at":null,"closed_by":null,"labels":[],"milestone":{"id":513937,"iid":1,"project_id":3439658,"title":"Permanent
        IGitt test milestone. DO NOT DELETE.","description":null,"state":"active","created_at":"2018-04-25T09:11:00.029Z","updated_at":"2018-04-26T08:49:22.203Z","due_date":null,"start_date":null},"assignees":[],"author":{"id":463976,"name":"Sebastian
        Latacz","username":"seblat","state":"active","avatar_url":"https://assets.gitlab-static.net/uploads/-/system/user/avatar/463976/avatar.png","web_url":"https://gitlab.com/seblat"},"assignee":null,"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"discussion_locked":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/39","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"weight":null},{"id":10517801,"iid":38,"project_id":3439658,"title":"Issue
        2 for the milestones tests DO NOT DELETE","description":"","state":"opened","created_at":"2018-04-25T09:12:06.334Z","updated_at":"2018-04-25T09:12:06.334Z","closed_at":null,"closed_by":null,"labels":[],"milestone":{"id":513937,"iid":1,"project_id":3439658,"title":"Permanent
        IGitt test milestone. DO NOT DELETE.","description":null,"state":"active","created_at":"2018-04-25T09:11:00.029Z","updated_at":"2018-04-26T08:4[...]
