interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/42/notes/88185697?per_page=100
  response:
    body: {string: "{\"id\":88185697,\"type\":null,\"body\":\"subtracted 1m of time\
        \ spent\",\"attachment\":null,\"author\":{\"id\":1369631,\"name\":\"GitMate\
        \ Labs \U0001F47D\",\"username\":\"gitmate-test-user\",\"state\":\"active\"\
        ,\"avatar_url\":\"https://assets.gitlab-static.net/uploads/-/system/user/avatar/1369631/avatar.png\"\
        ,\"web_url\":\"https://gitlab.com/gitmate-test-user\"},\"created_at\":\"2018-07-16T10:44:52.926Z\"\
        ,\"updated_at\":\"2018-07-16T10:44:52.926Z\",\"system\":true,\"noteable_id\"\
        :10698538,\"noteable_type\":\"Issue\",\"resolvable\":false,\"noteable_iid\"\
        :42}"}
    headers:
      Content-Type: [application/json]
      Etag: [W/"cd0ae43ac6239efe4ae3985a9b695d2e"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1532511917']
      RateLimit-ResetTime: ['Thu, 25 Jul 2018 09:45:17 GMT']
    status: {code: 200, message: OK}
version: 1
