interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"cd0ae43ac6239efe4ae3985a9b695d2e"]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/42/notes/88185697?per_page=100
  response:
    body: {string: ''}
    headers:
      Etag: [W/"cd0ae43ac6239efe4ae3985a9b695d2e"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1532953132']
      RateLimit-ResetTime: ['Tue, 30 Jul 2018 12:18:52 GMT']
    status: {code: 304, message: Not Modified}
[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/42/notes/88178603?per_page=100
  response:
    body: {string: "{\"id\":88178603,\"type\":null,\"body\":\"added 1h 13m 20s of\
        \ time spent\",\"attachment\":null,\"author\":{\"id\":1369631,\"name\":\"\
        GitMate Labs \U0001F47D\",\"username\":\"gitmate-test-user\",\"state\":\"\
        active\",\"avatar_url\":\"https://assets.gitlab-static.net/uploads/-/system/user/avatar/1369631/avatar.png\"\
        ,\"web_url\":\"https://gitlab.com/gitmate-test-user\"},\"created_at\":\"2018-07-16T10:15:04.857Z\"\
        ,\"updated_at\":\"2018-07-16T10:15:04.857Z\",\"system\":true,\"noteable_id\"\
        :10698538,\"noteable_type\":\"Issue\",\"resolvable\":false,\"noteable_iid\"\
        :42}"}
    headers:
      Content-Type: [application/json]
      Etag: [W/"467fbe8ab2d29db43975d7730dc6b71f"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['3']
      RateLimit-Remaining: ['597']
      RateLimit-Reset: ['1532953133']
      RateLimit-ResetTime: ['Tue, 30 Jul 2018 12:18:53 GMT']
    status: {code: 200, message: OK}
version: 1
