interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest?per_page=100
  response:
    body: {string: "{\"id\":3439658,\"description\":\"\",\"name\":\"test\",\"name_with_namespace\"\
        :\"GitMate / test\",\"path\":\"test\",\"path_with_namespace\":\"gitmate-test-user/test\"\
        ,\"created_at\":\"2017-06-05T04:56:19.418Z\",\"default_branch\":\"master\"\
        ,\"tag_list\":[],\"ssh_url_to_repo\":\"git@gitlab.com:gitmate-test-user/test.git\"\
        ,\"http_url_to_repo\":\"https://gitlab.com/gitmate-test-user/test.git\",\"\
        web_url\":\"https://gitlab.com/gitmate-test-user/test\",\"readme_url\":\"\
        https://gitlab.com/gitmate-test-user/test/blob/master/README.md\",\"avatar_url\"\
        :\"https://assets.gitlab-static.net/uploads/-/system/project/avatar/3439658/gitmate-labs.png\"\
        ,\"star_count\":0,\"forks_count\":4,\"last_activity_at\":\"2018-11-05T11:47:53.724Z\"\
        ,\"namespace\":{\"id\":1652018,\"name\":\"gitmate-test-user\",\"path\":\"\
        gitmate-test-user\",\"kind\":\"user\",\"full_path\":\"gitmate-test-user\"\
        ,\"parent_id\":null},\"_links\":{\"self\":\"https://gitlab.com/api/v4/projects/3439658\"\
        ,\"issues\":\"https://gitlab.com/api/v4/projects/3439658/issues\",\"merge_requests\"\
        :\"https://gitlab.com/api/v4/projects/3439658/merge_requests\",\"repo_branches\"\
        :\"https://gitlab.com/api/v4/projects/3439658/repository/branches\",\"labels\"\
        :\"https://gitlab.com/api/v4/projects/3439658/labels\",\"events\":\"https://gitlab.com/api/v4/projects/3439658/events\"\
        ,\"members\":\"https://gitlab.com/api/v4/projects/3439658/members\"},\"archived\"\
        :false,\"visibility\":\"public\",\"owner\":{\"id\":1369631,\"name\":\"GitMate\
        \ Labs \U0001F47D\",\"username\":\"gitmate-test-user\",\"state\":\"active\"\
        ,\"avatar_url\":\"https://assets.gitlab-static.net/uploads/-/system/user/avatar/1369631/avatar.png\"\
        ,\"web_url\":\"https://gitlab.com/gitmate-test-user\"},\"resolve_outdated_diff_discussions\"\
        :null,\"container_registry_enabled\":true,\"issues_enabled\":true,\"merge_requests_enabled\"\
        :true,\"wiki_enabled\":true,\"jobs_enabled\":true,\"snippets_enabled\":true,\"\
        shared_runners_enabled\":true,\"lfs_enabled\":true,\"creator_id\":1369631,\"\
        import_status\":\"failed\",\"import_error\":\"Mirror update for gitmate-test-user/test\
        \ failed with the following message: The default branch (master) has diverged\
        \ from its upstream counterpart and could not be updated automatically.\"\
        ,\"open_issues_count\":21,\"runners_token\":\"mJspL93WBs-yfGkkvpos\",\"public_jobs\"\
        :true,\"ci_config_path\":null,\"shared_with_groups\":[],\"only_allow_merge_if_pipeline_succeeds\"\
        :false,\"request_access_enabled\":false,\"only_allow_merge_if_all_discussions_are_resolved\"\
        :false,\"printing_merge_request_link_enabled\":true,\"merge_method\":\"merge\"\
        ,\"permissions\":{\"project_access\":{\"access_level\":40,\"notification_level\"\
        :3},\"group_access\":null},\"approvals_before_merge\":0,\"mirror\":true,\"\
        mirror_user_id\":1369631,\"mirror_trigger_builds\":false,\"only_mirror_protected_branches\"\
        :null,\"mirror_overwrites_diverged_branches\":null,\"external_authorization_classification_label\"\
        :\"\"}"}
    headers:
      Content-Type: [application/json]
      Etag: [W/"c8f336b7f78f277e457ece3229951cee"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1543034745']
      RateLimit-ResetTime: ['Sun, 24 Nov 2018 04:45:45 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
      If-None-Match: [W/"c8f336b7f78f277e457ece3229951cee"]
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest?per_page=100
  response:
    body: {string: "{\"id\":3439658,\"description\":\"\",\"name\":\"test\",\"name_with_namespace\"\
        :\"GitMate / test\",\"path\":\"test\",\"path_with_namespace\":\"gitmate-test-user/test\"\
        ,\"created_at\":\"2017-06-05T04:56:19.418Z\",\"default_branch\":\"master\"\
        ,\"tag_list\":[],\"ssh_url_to_repo\":\"git@gitlab.com:gitmat[...]
