interactions:
- request:
    body: '{"title": "Temporary created minimal data test milestone.", "state": "open",
      "description": null, "due_on": null}'
    headers:
      Content-Type: [application/json]
      If-None-Match: ['"7ed74d2236f71fd9c74e4adf196946b6"']
    method: POST
    uri: https://api.github.com/repos/gitmate-test-user/test/milestones
  response:
    body: {string: '{"url":"https://api.github.com/repos/gitmate-test-user/test/milestones/2","html_url":"https://github.com/gitmate-test-user/test/milestone/2","labels_url":"https://api.github.com/repos/gitmate-test-user/test/milestones/2/labels","id":3308419,"number":2,"title":"Temporary
        created minimal data test milestone.","description":null,"creator":{"login":"gitmate-test-user","id":16681030,"avatar_url":"https://avatars3.githubusercontent.com/u/16681030?v=4","gravatar_id":"","url":"https://api.github.com/users/gitmate-test-user","html_url":"https://github.com/gitmate-test-user","followers_url":"https://api.github.com/users/gitmate-test-user/followers","following_url":"https://api.github.com/users/gitmate-test-user/following{/other_user}","gists_url":"https://api.github.com/users/gitmate-test-user/gists{/gist_id}","starred_url":"https://api.github.com/users/gitmate-test-user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gitmate-test-user/subscriptions","organizations_url":"https://api.github.com/users/gitmate-test-user/orgs","repos_url":"https://api.github.com/users/gitmate-test-user/repos","events_url":"https://api.github.com/users/gitmate-test-user/events{/privacy}","received_events_url":"https://api.github.com/users/gitmate-test-user/received_events","type":"User","site_admin":false},"open_issues":0,"closed_issues":0,"state":"open","created_at":"2018-04-30T11:57:03Z","updated_at":"2018-04-30T11:57:03Z","due_on":null,"closed_at":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"a2df09590e27457d87e90a40f84f6e3f"']
      Location: ['https://api.github.com/repos/gitmate-test-user/test/milestones/2']
      Status: [201 Created]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
          admin:repo_hook, gist, notifications, repo, user']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['4967']
      X-RateLimit-Reset: ['1525090097']
    status: {code: 201, message: Created}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.github.com/repos/gitmate-test-user/test/milestones/2
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/octet-stream]
      Status: [204 No Content]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
          admin:repo_hook, gist, notifications, repo, user']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['4966']
      X-RateLimit-Reset: ['1525090097']
    status: {code: 204, message: No Content}
version: 1
